.add-list {
  &__popup {
    width: 240px;
    height: 148px;
    background: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    box-sizing: border-box;
    position: relative;
    top: -25px;
    left: 20px;

    &_colors {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      .badge {
        width: 16px;
        height: 16px;
        //justify-content: flex-start;
        border: solid 2px transparent;
        position: static;
        cursor: pointer;
        transition: 0.15s ease-in-out;
        &.active {
          border: solid 2px #0c0c0c;
          filter: contrast(1.5);
        }
      }
    }

    .button {
      width: 100%;
      margin-top: 10px;

      &-grey {
        background-color: grey;
      }
    }

    &-close-btn {
      position: absolute;
      right: -8px;
      top: -8px;
      cursor: pointer;
      opacity: 0.8;
      transition: 0.15s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
}
